.footer {
    height: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background: linear-gradient(270deg, #FFFFFF -19.92%, #545454 100%, #000000 100%);

    font-family: "Outfit Light";    
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 79.79vw;

    font-size: 1.3vw;
}

.footer .links a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .links .felos {
    font-family: "Outfit Bold";

    font-size: 1.5vw;
}

.footer .socials {
    margin-top: -2vh;
}

.footer .socials a {
    margin-left: 1vw;
    
    font-size: 1.3vw;
    color: #FFFFFF;
    text-decoration: none;
}