.footer {
    height: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background-color: #545454;

    font-family: "Outfit Light";
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 79.79vw;

    font-size: 1vw;

    text-transform: uppercase;
}

.footer .links a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .links .felos {
    font-family: "Outfit Bold";

    font-size: 1.5vw;
}

.footer .socials {
    margin-top: -1vw;
}

.footer .socials a {
    margin-left: 1vw;

    font-size: 1vw;

    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 1299px) {
    .footer .links .felos {
        font-size: 2vw;
    }


    .footer .links, .footer .socials a {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 959px) {
    .footer .links .felos {
        font-size: 2.3vw;
    }

    .footer .links, .footer .socials a {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 649px) {
    .footer .links .felos {
        font-size: 2.5vw;
    }

    .footer .links, .footer .socials a {
        font-size: 2vw;
    }
}