html,
body {
    height: 100%;

    margin: 0;

    text-transform: uppercase;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured {
    margin-top: 1vh;
    margin-bottom: 2vh;

    position: relative;

    width: 79.79vw;
    height: 37vh;
}

.coverImg {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 15px;

    filter: brightness(0.8);
}

.postURL {
    text-decoration: none;
}

.featured .infos {
    text-align: right;

    color: #FFFFFF;

    margin-right: 2%;
    margin-left: 47%;

    position: absolute;
    z-index: 1;
    bottom: -1%;
}

.featured .infos .title {
    font-family: "Outfit Bold";

    display: inline-block;


    font-size: 3vw;
    width: 40vw;
}

.featured .infos .date {
    font-family: "Outfit Bold";
    font-size: 1.3vw;
}

.featured:hover .infos>.title {
    text-decoration: underline;
}


.latestArticles {
    width: 82.79vw;

    margin-top: -1vh;
    margin-left: 3vw;
}

.article {
    background-color: #F6F6F6;

    border-radius: 10px;

    display: inline-block;

    margin-bottom: 1.5vh;

    margin-right: 2.2vw;
    width: 25vw;
}

.article .cover {
    height: 25vh;
    width: 25vw;
}

.article .infos {
    padding-left: 3%;
    padding-right: 3%;
}

.article .infos .title {
    font-family: "Outfit Bold";
    font-size: 2vw;
}

.article .infos .meta {
    font-family: "Outfit Regular";
    font-size: 0.8vw;

    opacity: 50%;
}

.article .infos .description {
    display: block;

    font-family: "Outfit Medium";
    font-size: 1vw;

    text-transform: initial;

    margin-top: 1vh;
}

.article .infos .openArticle {
    display: block;

    background-color: #E0E0E0;

    color: #9C9C9C;
    text-decoration: none;
    font-family: "Outfit SemiBold";
    font-size: 1vw;

    border-radius: 6.86px;

    padding: 2%;
}

@media screen and (max-width: 1499px) {
    .article .infos .meta {
        font-size: 1vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 1299px) {
    .article {
        width: 39vw;
    }

    .article .cover {
        height: 25vh;
        width: 39vw;
    }

    .article .infos .meta {
        font-size: 1.2vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1016px) {
    .article {
        margin-right: 1.7vw;
        width: 39vw;
    }

    .article .cover {
        height: 25vh;
        width: 39vw;
    }

    .article .infos .meta {
        font-size: 1.5vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 930px) {
    .article {
        margin-right: 1.7vw;
        width: 39vw;
    }

    .article .cover {
        height: 25vh;
        width: 39vw;
    }

    .article .infos .meta {
        font-size: 1.7vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 745px) {
    .latestArticles {
        width: 87.79vw;

        margin-top: -1vh;
        margin-left: 8vw;
    }

    .article {
        width: 39vw;
    }

    .article .cover {
        height: 20vh;
        width: 39vw;
    }

    .article .infos .title {
        font-size: 2.7vw;
    }

    .article .infos .meta {
        font-size: 1.9vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 2.2vw;
    }
}

@media screen and (max-width: 635px) {
    .article {
        width: 79.79vw;
    }

    .article .cover {
        height: 15vh;
        width: 79.79vw;
    }

    .article .infos {
        margin-top: 1vw;
    }

    .article .infos .title {
        font-size: 3vw;
    }

    .article .infos .meta {
        display: block;

        font-size: 1.9vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 2.5vw;

        margin-top: -1vw;
    }
}

@media screen and (max-width: 550px) {
    .article {
        width: 79.79vw;
    }

    .article .cover {
        height: 15vh;
        width: 79.79vw;
    }

    .article .infos {
        margin-top: 1vw;
    }

    .article .infos .title {
        font-size: 3.2vw;
    }

    .article .infos .meta {
        display: block;

        font-size: 2.1vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 2.9vw;

        margin-top: -1vw;
    }
}

@media screen and (max-width: 460px) {
    .article {
        width: 79.79vw;
    }

    .article .cover {
        height: 15vh;
        width: 79.79vw;
    }

    .article .infos {
        margin-top: 1vw;
    }

    .article .infos .title {
        font-size: 3.5vw;
    }

    .article .infos .meta {
        display: block;

        font-size: 2.4vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 3vw;

        margin-top: -1vw;
    }
}

@media screen and (max-width: 365px) {
    .article {
        width: 79.79vw;
    }

    .article .cover {
        height: 15vh;
        width: 79.79vw;
    }

    .article .infos {
        margin-top: 1vw;
    }

    .article .infos .title {
        font-size: 4vw;
    }

    .article .infos .meta {
        display: block;

        font-size: 2.7vw;
    }

    .article .infos .description, .article .infos .openArticle {
        font-size: 3.5vw;

        margin-top: -1vw;
    }
}