html, body {
    height: 100%;

    margin: 0;
}

.article {
    margin-top: 2.5%;
    margin-left: 10vw;

    width: 55vw;
}

.articleTitle {
    font-family: "Rubik";
    font-weight: 700;
    text-transform: uppercase;

    font-size: 3.5vh;

    margin-top: 4vh;
}

.banner {
    border-radius: 15px;

    width: 70vw;

    margin-top: -1vh;
}

.infos {
    color: #000000;
    opacity: 50%;

    font-family: "Rubik";
    text-transform: uppercase;
}

.author {
    font-size: 2.2vh;
}

.date {
    font-size: 1.9vh;
}

h3 {
    margin-bottom: -1.5vh;
}

.article {
    margin-top: -1vh;

    font-family: "Rubik";
    font-weight: 400;
    font-size: 2.3vh;
}

.article a {
    color: #000000;
    text-decoration: underline;
}

.latestArticlesLabel {
    text-transform: uppercase;
    
    font-family: "Rubik";
    font-weight: 600;
    font-size: 2.5vh;

    margin-top: 10vh;
}

.latestArticles {
    width: 55vw;

    display: flex;
    justify-content: space-between;

    margin-top: -1vh;

    text-transform: uppercase;
}

.articleSug {
    position: relative;

    width: 17vw;
    height: 26vh;

    margin-bottom: 5vh;
}

.articleSugCover {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 15px;

    filter: brightness(0.8);
}

.articleSugInfos {
    text-align: right;

    color: #FFFFFF;

    margin-right: 2%;
}

.articleSugURL {
    text-decoration: none;
}

.articleSugInfos .articleSugTitle {
    font-family: "Rubik";
    font-weight: 600;
    
    display: inline-block;


    font-size: 2.5vh;
    width: 15vw;
}

.articleSug:hover .articleSugInfos>.articleSugTitle {
    text-decoration: underline;
}

.articleSugInfos .articleSugDate {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 1.9vh;
}

.articleSugInfos {
    position: absolute;
    z-index: 1;
    bottom: -1%;
}

.articleSugInfos {
    position: absolute;
    z-index: 1;
    bottom: -1%;
    margin-left: 4%;
}