---
layout: pager
title: Monde
permalink: /monde/
pagination: 
  enabled: true
  category: monde
  permalink: /:num/
---

<div class="articles">
    <p>
        <div class="latestArticles">
            {% for post in paginator.posts %}
                <div class="article">
                    <div class="cover">
                        <img class="coverImg" src="/assets/images/{{ post.banner }}" alt="" srcset="">
                    </div>

                    <p class="infos">
                        <span class="title">{{ post.title }}</span>
                        <br>
                        <span class="meta">{{ post.author }} <span class="dot">⋅</span> {{ post.date | date: "%d/%m/%Y" }}</span>
                        <br>
                        <span class="description">{{ post.description }}</span>
                        <br>
                        <a class="openArticle" href="{{ post.url }}">Lire la suite</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </p>

    {% if paginator.total_pages > 1 %}
        <ul class="pagerButtons">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">
                    <button>INTERVIEWS PRECEDENTES</button>
                </a>
            {% endif %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">
                    <button>INTERVIEWS SUIVANTES</button>
                </a>
            {% endif %}
        </ul>
    {% endif %}
</div>